* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font";
    font-size: 16px;
    min-height: 0;
    margin: 0px;
}

window#waybar {
    background: none;
    color: white;
}

#clock, #cpu, #memory, #pulseaudio, #tray {
    padding: 0 0.75rem;
}

#workspaces {
    padding: 0px;
    margin: 0px;
    color: grey;
}

#workspaces button {
    min-width: 0;
    padding: 0 2px;
    margin: 0px;
    background: transparent;
    font-weight: bold;
    color: grey;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused {
    color: white;
}

#workspaces button.active {
    color: white;
}

#custom-launcher {
    font-size: 20px;
    margin-right: 8px;
    margin-left: 15px;
}

#tray {
  margin-right: 15px;
}

